.card-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 80vh;
    gap: 5vh;
}

.card-section-header {
    height: 10vh;
    margin: 1em;
    font-size: 36px;
    color: #1f2937;
    font-weight: bolder;
}

.cards {
    display: flex;
    flex-direction: row;
    gap: 3em;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
    width: 200px;
}

.card-picture {
    flex: initial;
    width: 200px;
    height: 200px;
    border: 5px solid #3882f6;
    border-radius: 1em;
}

.card-subtext {
    text-align: center;
    font-size: 1em;
}
